<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lesson_8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lesson_8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Lesson_8.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAge" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserOccupation" serializeAs="String">
                <value />
            </setting>
        </Lesson_8.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Lesson_8.Properties.Settings>
            <setting name="Greeting_p1" serializeAs="String">
                <value>I'm looking for someone to share in an adventure.</value>
            </setting>
            <setting name="Greeting_p2" serializeAs="String">
                <value>Are you with me, {username}, the {occupation}? Нave you been able to muster up the courage in {age} years?</value>
            </setting>
        </Lesson_8.Properties.Settings>
    </applicationSettings>
</configuration>